swagger: "2.0"
info:
  description: "System uporządzania lam na posterunku"
  version: "1.0.0"
  title: "LlamaVille - system zarządzania lamami"
  termsOfService: "https://brzydakville.space"
  contact:
    email: "llamanager@brzydakville.space"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "brzydakville.space"
basePath: "/v2"
tags:
- name: "lama"
  description: "Panel operacji CRUD na lamach"
  externalDocs:
    description: "Lamy są fajne, tylko trzeba o nie dbać"
    url: "https://brzydakville.space"
schemes:
- "https"
paths:
  /lama:
    post:
      tags:
      - "lama"
      summary: "Dodaj lamię"
      description: "Wymagane uwierzytelnienie strażnika lam"
      operationId: "registerLama"
      produces:
      - "application/json"
      security:
        - bville_auth:
          - write_lama
          - read_lama
      parameters:
      - in: "body" 
        name: "body" 
        description: "Created lama object"
        required: true 
        schema: 
          $ref: "#/definitions/CreateRequest" 
      - name: X-HMAC-SIGNATURE
        in: header
        description: integrity verification
        required: true
        type: string
      responses: 
        "204": 
          description: "Lama successfully added"
        "400": 
          description: "Bad request" 
          schema:
            $ref: "#/definitions/Exception" 
        "401":
            description: "Unauthorized"
            schema:
              $ref: "#/definitions/Exception" 
        "422":
            description: "Unprocessable entity. Codes: LLAMA_ALREADY_EXISTS"
            schema:
              $ref: "#/definitions/Exception" 
    get: 
      tags: 
        - "lama" 
      summary: "Pobierz listę lam" 
      security: 
        - bville_auth:
          - write_lama
          - read_lama
      description: "Pobierz listę wszystkich lam w bazie" 
      operationId: "getAllLlamas" 
      produces: 
        - "application/json" 
      responses: 
        "201": 
          description: "Return list of llamas"
          schema:
            $ref: "#/definitions/LlamaListResponse" 
        "400": 
          description: "Bad request" 
          schema:
              $ref: "#/definitions/Exception" 
        "401":
            description: "Unauthorized"
            schema:
              $ref: "#/definitions/Exception" 
  /lama/{id}: 
    put: 
      tags: 
        - "lama" 
      summary: "Zaktualizuj dane lamy"
      security: 
        - bville_auth:
          - write_lama
          - read_lama
      description: "Zaktualizuj dane lamy" 
      operationId: "updateLlama" 
      produces: 
        - "application/json" 
      parameters: 
        - name: id 
          in: path
          required: true 
          type: string
          format: uuid 
        - in: "body" 
          name: "body" 
          required: true 
          schema: 
            $ref: "#/definitions/UpdateRequest" 
        - name: X-HMAC-SIGNATURE
          in: header
          description: integrity verification
          required: true
          type: string
      responses: 
        "204": 
          description: "Llama successfully updated"
        "400": 
          description: "Bad request" 
          schema:
              $ref: "#/definitions/Exception" 
        "401":
            description: "Unauthorized"
            schema:
              $ref: "#/definitions/Exception" 
        "422":
            description: "Unprocessable entity. Codes: LLAMA_DOES_NOT_EXIST"
            schema:
              $ref: "#/definitions/Exception" 
    delete: 
      tags: 
        - "lama" 
      summary: "Usuń lamę z bazy danych" 
      security: 
        - bville_auth:
          - write_lama
          - read_lama
      description: "Usunięcie lamy z bazy danych" 
      operationId: "deleteLlama" 
      produces: 
        - "application/json" 
      parameters: 
        - name: id 
          in: path
          required: true 
          type: string
          format: uuid 
      responses: 
        "204": 
          description: "Llama successfully deleted"
        "400": 
          description: "Bad request"
          schema:
              $ref: "#/definitions/Exception" 
        "401":
          description: "Unauthorized"
          schema:
              $ref: "#/definitions/Exception" 
        "422":
          description: "Unprocessable entity. Codes: LLAMA_DOES_NOT_EXIST"
          schema:
              $ref: "#/definitions/Exception" 
  /posterunek:
    post:
      tags:
      - "harmonogram"
      summary: "Przypisz lamę do posterunku w określonym harmonogramie"
      description: "Wymagane uwierzytelnienie strażnika lam"
      operationId: "registerSchedule"
      produces:
      - "application/json"
      security:
        - bville_auth:
          - write_lama
          - read_lama
      parameters:
      - in: "body" 
        name: "body" 
        description: "Created schedule object"
        required: true 
        schema: 
          $ref: "#/definitions/AddScheduleRequest" 
      - name: X-HMAC-SIGNATURE
        in: header
        description: integrity verification
        required: true
        type: string
      responses:
        "204": 
          description: "Schedule successfully added" 
        "400": 
          description: "Bad request" 
          schema:
              $ref: "#/definitions/Exception" 
        "401":
            description: "Unauthorized"
            schema:
              $ref: "#/definitions/Exception" 
        "422":
            description: "Unprocessable entity. Codes: Schedule time already taken by different llama!"
            schema:
              $ref: "#/definitions/Exception" 
    get: 
      tags: 
        - "harmonogram" 
      summary: "Pobierz listę wszystkich pozycji w harmonogramie z przypisanymi lamami" 
      security: 
        - bville_auth:
          - write_lama
          - read_lama
      description: "Pobierz listę wszystkich pozycji w harmonogramie z przypisanymi lamami" 
      operationId: "getSchedule" 
      produces: 
        - "application/json" 
      responses: 
        "201": 
          description: "Return list of all schedule entries"
          schema:
            $ref: "#/definitions/ScheduleListResponse" 
        "400": 
          description: "Bad request" 
          schema:
              $ref: "#/definitions/Exception" 
        "401":
            description: "Unauthorized"
            schema:
              $ref: "#/definitions/Exception" 
      
securityDefinitions:
  bville_auth:
    type: "oauth2"
    tokenUrl: "https://brzydakville.space:65536/token"
    flow: "password"
    scopes:
      write_lama: "modify llama for given guard stance"
      read_lama:  "read llama data"
definitions:
  Harmonogram:
    type: "object"
    properties:
      Warta: 
        type: "object"
        properties:
          lamaID:
            type: "integer"
            format: "int64"
          poczatekWarty:
            type: "string"
            format: date-time
            example: "2020-11-17T12:08:56.235-0100" 
            description: "Date format according to ISO_8601 for example: yyyy-MM-dd'T'HH:mm:ss.SSSZ"
          koniecWarty:
            type: "string"
            format: date-time
            example: "2020-11-17T12:08:56.235-0100" 
            description: "Date format according to ISO_8601 for example: yyyy-MM-dd'T'HH:mm:ss.SSSZ"
  Lama:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      imie:
        type: "string"
      wiek:
        type: "integer"
        format: "int64"
      rasa:
        type: "object"
        items: 
           type: "string"
           enum:
            - lama
            - alpaka
            - wikunia
            - gwanako 
            - pustynna
      kolor:
        type: "object"
        items: 
           type: "string"
           enum:
            - kremowa
            - brazowa
            - czarna
            - ciapkowana
            - kawowa
      kubraczek:
        type: "string"
    example:
      id: 1234
      name: "Sniezka"
      wiek: 12
      rasa: "lama"
      kolor: "kremowa"
      kubraczek: "podrozny"
  CreateRequest: 
    type: "object" 
    required: 
      - "lama" 
    properties: 
      lama: 
        $ref: "#/definitions/Lama" 
  UpdateRequest: 
    type: "object" 
    required: 
      - "lama" 
    properties: 
      lama:
        $ref: "#/definitions/Lama" 
  LlamaListResponse: 
    type: "object" 
    required: 
      - "llamaList" 
    properties: 
      llamaList:
        type: array
        items:  
          $ref: "#/definitions/Lama"
  AddScheduleRequest:
    type: "object" 
    required: 
      - "schedule"
    properties: 
        schedule:
          $ref: "#/definitions/Harmonogram"
  ScheduleListResponse: 
    type: "object" 
    required: 
      - "scheduleList" 
    properties: 
      llamaList:
        type: array
        items:  
          $ref: "#/definitions/Harmonogram"
  Exception: 
    type: "object" 
    properties: 
      code:
        type: integer
      detail:
        type: string
    example:
      code: 401
      name: "Unauthorized"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"